/* Estilo Geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #87CEEB;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    display: flex; /* Ativa o Flexbox */
  }
  
  .menu {
    flex: 1; /* Ocupa 1 parte do espaço */
    height: 300px;
    background-color: #FFFACD;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .conteudo {
    flex: 2; /* Ocupa 2 partes do espaço */
    height: 300px;
    background-color: #F08080;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }
  
  footer {
    background-color: #98FB98;
    text-align: center;
    padding: 10px 0;
  }
  